<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppSettings</key>
	<dict>
		<key>DEV</key>
		<dict>
			<key>PubNubPublishKey</key>
			<string>pub-c-07cf42ec-470f-486b-aeb3-5a0026e24dc0</string>
			<key>PubNubSecretKey</key>
			<string>sec-c-MmJmZDBhNWYtYTZhNi00OWI1LWI0Y2MtNGE2ZTIzNWU3MDFm</string>
			<key>PubNubSubscribeKey</key>
			<string>sub-c-881a367e-dc6d-11e4-adc7-0619f8945a4f</string>
			<key>ServerURL</key>
			<string>http://flips-dev95.arctouch.com</string>
		</dict>
		<key>PROD</key>
		<dict>
			<key>PubNubPublishKey</key>
			<string>pub-c-18de6448-8924-43b5-9f5b-a333e7d7e6d9</string>
			<key>PubNubSecretKey</key>
			<string>sec-c-MzFhZjgyOWQtNDRiOS00NTBiLTkwZjAtOGUyM2U5MDNhMTdh</string>
			<key>PubNubSubscribeKey</key>
			<string>sub-c-bec9fd6e-719f-11e4-94ac-02ee2ddab7fe</string>
			<key>ServerURL</key>
			<string>https://api.flipsapp.com</string>
		</dict>
		<key>QA</key>
		<dict>
			<key>PubNubPublishKey</key>
			<string>pub-c-579fbcaa-1c0a-44fc-bb1c-e02e43e7eb30</string>
			<key>PubNubSecretKey</key>
			<string>sec-c-MTA5MjJmZWUtOGI4Ni00NTUwLTgzN2ItNWU0ZGIyZmI0MWY4</string>
			<key>PubNubSubscribeKey</key>
			<string>sub-c-3bcb7c42-59ff-11e4-9632-02ee2ddab7fe</string>
			<key>ServerURL</key>
			<string>http://flips-qa.elasticbeanstalk.com</string>
		</dict>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Flips</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>com.flipsapp.flipsmessenger</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb338424696329576</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>FacebookAppID</key>
	<string>338424696329576</string>
	<key>FacebookDisplayName</key>
	<string>Flips</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>still-camera</string>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackOpaque</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
