spikes/pubnub/DerivedData
spikes/pubnub/Pods/
spikes/pubnub/Podfile.lock
mugchat/DerivedData
mugchat/mugchat.xcodeproj/xcuserdata
mugchat/mugchat.xcworkspace/xcuserdata
mugchat/mugchat/Images.xcassets/.DS_Store
.DS_Store
xcuserdata
mugchat/Pods/PubNub/iOS/.DS_Store