spikes/pubnub/DerivedData
spikes/pubnub/Pods/
spikes/pubnub/Podfile.lock
flips/DerivedData
flips/mugchat.xcodeproj/xcuserdata
flips/mugchat.xcworkspace/xcuserdata
flips/mugchat/Images.xcassets/.DS_Store
.DS_Store
xcuserdata
flips/Pods/PubNub/iOS/.DS_Store
