spikes/pubnub/DerivedData
spikes/pubnub/Pods/
spikes/pubnub/Podfile.lock
flips/DerivedData
flips/flips.xcodeproj/xcuserdata
flips/flips.xcworkspace/xcuserdata
flips/flips/Images.xcassets/.DS_Store
.DS_Store
xcuserdata
flips/Pods/PubNub/iOS/.DS_Store
